html {
	font-size: 10px;
}

body {
	width: 1020px;
	margin: auto;
	font-size: 1.2rem;
	font-family: 'Lato', Verdana, sans-serif;
}

.header {
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
	font-weight: 700;
	height: 89px;
	color: white;
}

.logo {
    font-size: 25px;
    font-weight: 700;
	line-height: 6px;	
	letter-spacing: -0.06rem;
	text-transform: uppercase;
}

.logo::after {
	content: "*";
	color: #f06c64;
}

.header .wrapper {
	display:flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 26px 39px;
}

.navigation {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	letter-spacing: 0.01rem;
}

.navigation_item {
	padding-left:25px;
	cursor: pointer;
}

.navigation_link {
    text-decoration: none;
    color: white;
}

.navigation_link:hover {
	color: #f06c64;
}


.active {
   color: #f06c64; 
}

.navigation_item:not(:last-child)::after {
	position: relative;
	content: ".";
	bottom: 3px;
	color: #494e62;
	left: 13px;
}

.slider-box {
    position: relative;
    height: 594px;
    max-width: 100%;
    border-bottom: 6px solid #ea676b;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 594px;
    width: 200%;
    position: relative;
    margin: auto;
    left: 0;
}

.phone_slide1, .phone_slide2 {
    float: left;
}

.phone_slide1 {
    background-color: #f06c64;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: relative;*/
    width: 50%; 
    padding: 0px 75px;
}

.phone_slide2 {
    height: 100%;
}

.slider_arrow {
	width: 16px;
    height: 27px;
  	background: url("./assets/images/back.svg") no-repeat;
 	border: none;
	cursor: pointer;
	position: absolute;
}

.arrow_left {
    left: 41px;
    bottom: 48%;
}

.arrow_right {
    transform: rotate(180deg);
    right: 41px;
    bottom: 48%;
}

.phone {
    position: relative;
}

.phone_display {
    visibility: hidden;
    position: absolute;
}

.phone_button{
    position: absolute;
    height: 42px;
    width: 42px;
    cursor: pointer;
}

.phone_button:active {
    box-shadow: inset 0 0 20px rgb(236, 111, 111);
    border-radius: 50%;
}

.phone_vertical .phone_button {
    left: 87px;
    bottom: 38px;
}

.phone_horizontal .phone_button {
    bottom: 291px;
    left: 436px;
}

.phone_vertical .phone_display {
    left: 15px;
    bottom: 89px;
}

.phone_horizontal .phone_display {
    transform: rotate(90deg);
    left: 559px;
    bottom: 145px;
}


/*********Our Services**********/

.services {
	height: 494px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #fff;
}

.services_wrapper {
	padding: 40px 40px 31px 40px;
	color: #767e9e;
}

.services_content {
    margin: 30px 0 18px 0;
}

.services_text {
	font-size: 1.8rem;
	color: #767e9e;
	line-height: 30px;
    font-weight: 300;
    text-align: justify;
    margin: 26px 0;
    word-spacing: 0.02rem;
}

.services_header {
	font-size: 3rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
}

.layout-3-column {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
	
}

.tool {
	width: 300px;	
    word-spacing: -0.06rem;
    margin-bottom: 17px;
    text-align: justify;
}

.tool_name {
	font-size: 1.8rem;
	line-height: 18px;
	font-weight: 900;
    margin: 0;
    max-height: 18px;
    overflow: hidden;
}

.tool_text{
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 11px;
	margin-top: 11px;
    hyphens: auto;
    overflow: hidden;
    max-height: 70px;
}

.tool_icon {
	display: inline-block;
	width: 61px;
    height: 61px;
    margin: 1px 19px 0 0px;
    float: left;
}

.icon-pen {
	background-image: url(./assets/images/Services.svg);
}

.icon-phone {
	background-image: url(./assets/images/Phone.svg);
}

.icon-bulb {
	background-image: url(./assets/images/Bulb.svg);
}

.icon-bubble {
	background-image: url(./assets/images/Bubble.svg);
}

.icon-heart{
	background-image: url(./assets/images/Heart.svg);
}

.icon-star {
	background-image: url(assets/images/Star.svg);
}

/**********Portfolio**********/

.wrapper {
    width: 940px;
    margin: auto;
}

.portfolio_wrapper {
    margin: auto;
    padding: 40px;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_header {
    margin: 21px 0px 20px 0;
}

.portfolio_logo {
   letter-spacing: 0.02rem;
   font-size: 30px;
   color: #666d89;
   font-weight: 900;
   margin: 0;
}

.logo-link {
    text-decoration: none;
    color: #666d89;
}

.portfolio_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin: 16px 0px 10px 0;
    letter-spacing: -0.02rem;
}

.portfolio_tag {
    display: flex;
    justify-content: flex-start;
}

.tag{
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 7px;
    font-size: 1.2rem;
    color: #767e9e;
    line-height: 19px;
    letter-spacing: 0.009rem;
    font-family: "Lato";
    cursor: pointer;
    padding: 0 7px;
}

.tag-selected, .tag:hover {
    border-color: #dedede;
    color: #dedede;
    outline: none;
}

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 610px;
    overflow: hidden;
    box-sizing: border-box;
}

.gallery {
    cursor: pointer;
}

.gallery img {
    margin-bottom: 19px;
}

.item_active, .gallery_item:hover {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}


/****************About-us****************/

.about-us {
    background-color: #f2f2f2 ;
    border-bottom: 6px solid #ffffff;
}

.about-us_wrapper {
    padding: 40px 0 63px 0;
}

.about-us_header {
    font-size: 3rem;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    margin: 30px 0px 25px 0px;
}

.about-us_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 26px;
    letter-spacing: -0.25px;
    text-align: justify;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    max-height: 600px;
    overflow: hidden;
}

.employee {
    width: 300px;
}

.employee_name {
    margin: 0;
    margin-top: 14px;
    font-size: 1.8rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.employee_text {    
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
    font-weight: 300;
    margin: 10px 0 21px 0;
    word-spacing: -0.05rem;
}

.social {
    margin: 0;
}

.social_icon {
    width: 32px;
    height: 32px;
    margin:0;
}

.social_icon:hover {
    cursor: pointer;
    background-color: #666d89;
    border-radius: 25px;
}

.icon-facebook {
    background-image: url(./assets/images/icons/facebook.svg);
}

.icon-google {
    background-image: url(./assets/images/icons/google.svg);
}

.icon-twitter {
    background-image: url(./assets/images/icons/twitter.svg);
}

.icon-linkedIn {
    background-image: url(./assets/images/icons/linkedin.svg);
}

/**********Get a Quote**********/

.information { 
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    margin: 0;
    font-family: "Lato";
    color: #f0d8d9;
}

.information_wrapper { 
    width: 940px;
    padding-top: 40px;
    padding-bottom: 4px;
    margin: auto;
}

.information_header {
    font-size: 3rem;
    line-height: 18px;
    font-weight: 900;
    margin: 27px 0;
    margin-top: 30px;
    word-spacing: -0.1rem;
}

.information_text {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.03rem;
    word-spacing: -0.02rem;
}


.layout-2-column {
    display: flex;
    justify-content: space-between;
    margin-top: 41px; 
}

.information-form {
    width: 618px;
}

.form_input {
    display: grid;
}

.information-contacts {
    width: 300px;
}

.information-form_input {
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;  
    color:  #f0d8d9;
    border: none;
    width: -webkit-fill-available;
    margin-bottom: 14px;   
}

.input-textarea {
    height: 195px;
    resize: none;
    line-height: 22px;
    padding: 0px;
    padding-top: 8px;
}

.input-submit {
    margin-bottom: 11px;
    color: #f48c8f;
}

.information-form_input::placeholder {
    font-size: 1.2rem;
    font-family: "Lato";
    color: #f48c8f;
    line-height: 22px;
    padding-left: 14px;
}

.information-form_input:focus {
    outline: none;
}


.information-contacts_header {
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 900;
    margin: 0;
    margin-top: 2px;
}

.information-contacts_text {
    margin: 9px 0 20px 0;
    word-spacing: -0.04rem;
    text-align: justify;
    line-height: 22px;
}

.information-contacts_link {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
  }

.information-contacts_link::before {
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 10px;
    margin-bottom: -1px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.address_icon::before{
    background-image: url(./assets/images/icons/address.svg);
}

.phone_icon::before {
    background-image: url(./assets/images/icons/phone.svg);
}

.mail_icon::before {
    background-image: url(./assets/images/icons/mail.svg);
}

.footer {
    background-color: #2d303a;
}

.footer_wrapper {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 19px 0;
}

.footer_copyright {
    font-size: 1.2rem;
    color: #666d89;
}

.social {
    margin-top: 2px;
    }

.social_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 4px; 
}

.social_icon:hover {
    cursor: pointer;
}

.icon-facebook {
    background-image: url(./assets/images/icons/facebook.svg);
}

.icon-google {
    background-image: url(./assets/images/icons/google.svg);
}

.icon-twitter {
    background-image: url(./assets/images/icons/twitter.svg);
}

.icon-linkedIn {
    background-image: url(./assets/images/icons/linkedin.svg);
}





